* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #32495B;
}

a {
  text-decoration: none;
  color: #32495B;
  display: inline-block;
}

h1 {
  font-size: 3em
}

.border {
  border: 1px solid black;
  /* per evidenziare i div nascosti */
}

.h-100 {
  height: 100px;
}

.h-500 {
  height: 500px;
}

.h-600 {
  height: 600px;
}

.h-1200 {
  height: 1200px;
}

.grey {
  background-color: #F4F9FC;
}

.white {
  background-color: #FFFFFF;
}

.rose {
  background-color: #FFF4EF;
}

.light-green {
  background-color: #AFEBE4;
}

.green {
  background-color: #00A9B8;
}

.blue {
  background-color: #32495B;
}

.cont {
  width: 80%;
  margin: 0 auto;
  /* per dare la centratura generale nelle parti in cui serve */
}

.cont-l, .cont-r {
  width: 50%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  /* aggiungo la classe clearfix ai padri che hanno figli che hanno float, così non me li fanno collassare  */
}

.fl-l {
  float: left;
  /* la assegno agli elementi che devono flottare a sinistra */
}

.fl-r {
  float: right;
  /* la assegno agli elementi che devono flottare a destra */
}

.rel {
  position: relative;
  /* per assegnare velocemente al padre di un position absolut la proprietà position relative */
}

.height-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  /* per centrare verticalmente un div */
}

.position-right {
  position: absolute;
  right: 0;
  /* una specie di float right */


}

.common-button {
  color: #FFFFFF;
  background-color: #FE7759;
  padding: 15px;
  border-radius: 5px;
}

header .nav-top .cont-l .height-center a:first-child {
  margin-right: 5px;
}

header .nav-top .cont-r i {
  color: #00A4BD;
}

header .nav-top .cont-r a {
  border-radius: 5px;
  padding: 10px;
}

header .nav-top .cont-r .login {
  color: #FE7759;
  background-color: #FFFFFF;
  border: 1px solid #FE7759;
  margin-right: 5px;
  margin-left: 5px;
}

header .nav-top .cont-r .gethubspotfree {
  color: #FFFFFF;
  background-color: #FE7759;
}

header .nav-bottom .cont-l img {
  width: 30%;
}

header .jumbo .cont-l {
  height: 90%;
  position: absolute;
  bottom: 0;
}

header .jumbo .cont-l p {
  margin-top: 10%;
  margin-bottom: 10%;
}
