* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* avrei dovuto definire delle regole generali di font-size ecc. per mantenere omogeneità nella pagina, ma avendo utilizzato alcune sezioni come "banco di prova", definisco internamente alle sezioni che ho curato maggiormente, avendo capito come applicare, solo in un secondo momento, le regole più generali  */

.collapse:after {
  content: "";
  display: table;
  clear: both;
}
/* aggiungo la classe collapse ai padri che hanno figli che hanno float, così non me li fanno collassare  */

.fl {
  float: left;
}
/* la assegno agli elementi che devono flottare */

.fl-r {
  float: right;
}
/* la assegno agli elementi che devono flottare a destra */

.rel {
  position: relative;
}
/* per assegnare velocemente al padre di un position absolut la proprietà position relative */

.border {
  border: 3px solid black;
}
/* per evidenziare i div nascosti */

.cont {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
/* per dare la centratura generale nelle parti in cui serve */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* per centrare sia in altezza che in larghezza */

.height-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.position-right {
  position: absolute;
  right: 0;
}
/* una specie di float right */

.tac{
  text-align: center;
}

.grey{
  background-color: #e3e5e8;
}
/* background-color che devo usare spesso */

.white{
  background-color: #fafafa;
}
/* background-color che devo usare spesso */

header .row-1 {
  height: 100px;
  width: 100%;
}

header .row-1 .col-left, header .row-1 .col-right {
  width: 50%;
  height: 100px;
}

header .row-1 .col-left a{
  text-decoration: none;
  color: black;
}

header .row-2 {
  height: 100px;
}

header .row-2 .col-left, header .row-2 .col-right {
  width: 50%;
  height: 100px;
}

header .row-2 .col-left .height-center {
  height: 60%;
  width: 30%;
}

header .row-2 .col-left .height-center img {
  width: 100%;
  height: 100%;
}

header .row-2 .col-right div, header .row-2 .col-right select {
  font-size: 11px;
  font-family: Times;
}

header .row-2 .col-right div {
  width: 100%;
}

header .row-2 .col-right select, header .row-2 .col-right a {
  margin-left: 2%;
}

header .row-2 .col-right a {
  text-decoration: none;
  color: black;
}

header .row-3 {
  height: 400px;
  background-image: url("../img/sfondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header .row-3 .col {
  width: 50%;
  height: 90%;
  position: absolute;
  bottom: 0;
}

header .row-3 .col p, header .row-3 .col button {
  margin-top: 5%;
}

header .row-4{
  background-color: #07e3cd;
  height: 100px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

main .section-1{
  height: 800px;
}

main .section-1 .row-1, main .section-1 .row-2{
  height: 20%;
}

main .section-1 .row-1 {
  width: 70%;
  margin: auto;
}

main .section-1 .row-1 .img {
  height: 50%;
}

main .section-1 .row-1 img {
  height: 100%;
}

main .section-1 .row-2 .col-left {
  height: 100%;
  width: 35%;
}

main .section-1 .row-2 .col-right {
  height: 100%;
  width: 65%;
}

main .section-1 .row-2 .col-left .center {
  height: 70%;
  width: 40%;
}

main .section-1 .row-2 .col-left .center img {
  height: 45%;
}

main .section-1 .row-2 .col-left .center button {
  height: 30%;
  margin-bottom: 5%;
}

main .section-1 .row-2 .col-right h3, main .section-1 .row-2 .col-right p, main .section-1 .row-2 .col-right h5, main .section-1 .row-2 .col-right div{
  margin-top: 2%;
}

main .section-1 .row-3{
    height: 50%;
}

main .section-1 .row-3 .col{
  height: 100%;
  width: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}

main .section-1 .row-3 .col-middle{
  margin-right: 5%;
  margin-left: 5%;
}

main .section-1 .row-3 .col .img {
  height: 15%;
  margin-top: 3%;
}

main .section-1 .row-3 .col img {
  height: 100%;
}

main .section-1 .row-3 h3{
  margin-top: 5%;
}

main .section-1 .row-3 p {
font-size: 12px;
  padding: 5%;
}

main .section-1 .row-3 .hr{
  height: 10%;
  width: 80%;
  margin: 5% auto;
  border-bottom: 2px solid grey;
}

main .section-1 .row-3 h4 {
  font-size: 14px;
  margin-top: 10%;
}

main .section-1 .row-3 .cont-80 {
  width: 80%;
  margin: auto;
}

main .section-1 .row-3 .cont-80 span {
  font-size: 12px;
}

main .section-1 .row-3 .rel {
  height: 20%
}

main .section-1 .row-3 .rel button{
  background-color: orange;
  padding: 5px;
}

main .section-2{
  height: 400px;
  background-color: #0ccfbb;
}

main .section-2 .row-1 {
  height: 40%;
}

main .section-2 .row-2 {
  height: 60%;
}

main .section-3 {
  height: 400px;
}

main .section-3 .row-1 {
  height: 40%;
}

main .section-3 .row-2 {
  height: 60%;
}

main .section-3 .col-left {
  height: 100%;
  width: 40%;
}

main .section-3 .col-right {
  height: 100%;
  width: 60%;
}

footer {
  height: 400px;
  background-color: #252045;
  color: white;
}

footer .row-1 {
  height: 60%;
  font-size: 12px;
}

footer .row-1 .col {
  height: 100%;
  width: 25%;
}

footer .row-1 .col div {
  position: absolute;
  top: 5%;
}

footer ul {
  list-style-type: none;
}

footer .row-1 .col ul li {
  margin-top: 5%;
}

footer li a {
  text-decoration: none;
  color: white;
}

footer .row-1 .col button {
  margin: 5% 0;
  font-size: 12px;
}

footer .row-1 .col i {
  margin-right: 10%;
}

footer .row-2, footer .row-3 {
  height: 20%;
}

footer .row-2 {
  border-bottom: 1px solid white;
}

footer .row-2 div {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, 0);
}
/* per metterlo centrato ma in basso */

footer .row-2 div li {
  font-size: 12px;
  display: inline;
  margin-right: 5px;
}

footer .row-3 .col-left, footer .row-3 .col-right {
  height: 100%;
  width: 30%;
}

footer .row-3 .col-left div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

footer .row-3 .col-left img {
  height: 60%;
}

footer .row-3 .col-left span {
  font-size: 12px;
  display:block;
}

footer .row-3 .col-right {
  position: absolute;
  top: 0;
  right: 0;
}

footer .row-3 .col-right div {
  position: absolute;
  top: 10%;
  right: 0;
}

footer .row-3 .col-right li {
  font-size: 12px;
  display: inline;
}
